{% extends 'base/base.html' %}

{% block title %} create contact {% endblock %}

{% block content %}
    <form action="{% url 'contacts:contact_create' %}" method="post">
        {% csrf_token %}
        {{ forms.as_p }}
        {#        <label for="name">name:</label><br>#}
        {#        <input type="text" id="name" name="name"><br><br>#}
        {#        <label for="email">email:</label><br>#}
        {#        <input type="email" id="email" name="email"><br><br>#}
        {#        <label for="phone">phone:</label><br>#}
        {#        <input type="text" id="phone" name="phone"><br><br>#}
        {#        <label for="address">address:</label><br>#}
        {#        <input type="text" id="address" name="address"><br><br>#}
        <input type="submit" value="Submit">
    </form>
{% endblock %}