/* Umumiy uslub */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}

/* Navigatsiya paneli uslubi */
header {
    background: #35424a;
    color: #ffffff;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Asosiy kontent uslubi */
main {
    padding: 20px;
}

/* Footer uslubi */
footer {
    text-align: center;
    padding: 10px 0;
    background: #35424a;
    color: #ffffff;
}

/* Umumiy uslub */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ekran balandligini 100% qilib belgilash */
}

/* Asosiy kontent uslubi */
main {
    flex: 1; /* Asosiy kontentni kengaytirish */
    padding: 20px;
}

/* Footer uslubi */
footer {
    text-align: center;
    padding: 10px 0;
    background: #35424a;
    color: #ffffff;
    width: 100%; /* Footer kengligini 100% qilib belgilash */
}